.profile {
  padding: 0 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 26px;
}

.profile__content-wrapper {
  display: flex;
  flex-direction: column;
}

.profile__title-wrapper {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: center;
  align-items: center;
}

.profile__title {
  grid-column-start: 2;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
}

.profile__edit-button {
  grid-column-start: 3;
  width: 18px;
  height: 18px;
  background-color: #000;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  margin-left: 10px;
  cursor: pointer;
  background: url(../images/icon-edit-button.svg) center no-repeat;
  transition: opacity 0.3s;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__subtitle {
  margin: 14px auto 36px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.profile__add-button {
  width: 100%;
  height: 50px;
  background-color: #000;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
  background: url(../images/icon-add-button.svg) center no-repeat;
  transition: opacity 0.3s;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media (min-width: 1024px) {
  .profile {
    width: 880px;
    padding: 0;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 30px;
  }
  .profile__avatar {
    margin: 0;
  }
  .profile__content-wrapper {
    align-items: start;
  }
  .profile__title-wrapper {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  
  .profile__title {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
  }
  .profile__subtitle {
    margin: 16px 0 0;
    font-size: 18px;
    line-height: 22px;
  }
  .profile__add-button {
    width: 150px;
  }
  .profile__edit-button {
    margin-left: 18px;
    width: 24px;
    height: 24px;
  }
}