.place__like-button {
  width: 23px;
  height: 19px;
  background: url(../../../images/icon-like-button.svg) center no-repeat;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
}

.place__like-button:hover {
  opacity: 0.5;
}